<footer class="footer">
  <div class="container-big">
    <div class="footer-wrapper">
      <div class="col" id="logo-column">
        <img src="../img/logo-footer.svg" class="footer-wrapper__logo" alt="">
        <a href="tel:(615) 527-5333" class="footer-wrapper__text">(615) 527-5333</a>
        <a href="mailto:info@globalcoachsales.com" class="footer-wrapper__text">info@globalcoachsales.com</a>
        <div class="footer-wrapper__text">
          805 Madison Industrial Road <br>
          Nashville, TN 37115
        </div>
        <div class="footer-wrapper__info">
          Global Coach Sales is a portfolio <br> company of Atlys Capital.
        </div>
      </div>
      <div class="col" id="home">
        <a href="#" class="footer-wrapper__head">Home</a>
      </div>
      <div class="col" id="about-news">
        <a href="#" class="footer-wrapper__head">About</a>
        <a href="#" class="footer-wrapper__head">News</a>
      </div>
      <div class="col" id="inventory">
        <a href="#" class="footer-wrapper__head">Inventory</a>
        <a href="#" class="footer-wrapper__link">VanHool</a>
        <a href="#" class="footer-wrapper__link">MCI</a>
        <a href="#" class="footer-wrapper__link">Prevost</a>
      </div>
      <div class="col" id="contact">
        <a href="#" class="footer-wrapper__head">Contact</a>
        <a href="#" class="footer-wrapper__link">Privacy Policy</a>
        <a href="#" class="footer-wrapper__link">Terms& Conditions</a>
      </div>
      <div class="col" id="operation">
        <a href="#" class="footer-wrapper__head">Hours of Operation</a>
        <div class="footer-wrapper__text">
          M - Th  8:00am - 5:00pm</br>
          Fri 8:00am - 4:00pm</br>
          Sat 12:00pm - 4:00pm</br>
        </div>
      </div>
      <div class="col" id="question">
        <a href="#" class="footer-wrapper__head">Have Questions?</a>
        <div class="footer-wrapper__text">
          Brian Lichter <br>
          blichter@globalcoachsales.com <br>
          (224) 688-635
        </div>
        <div class="footer-wrapper__text">
          Brian Hill <br>
          bhill@globalcoachsales.com <br>
          (214) 725-0490
        </div>
        <div class="footer-wrapper__icons">
          <a href="#">
            <img class="footer-wrapper__icon" src="../img/icons/facebook.svg">
          </a>
          <a href="#">
            <img class="footer-wrapper__icon" src="../img/icons/linkedin.svg">
          </a>
          <a href="#">
            <img class="footer-wrapper__icon" src="../img/icons/youtube.svg">
          </a>
        </div>
      </div>
    </div>
    <div>
      <p class="footer-wrapper__copyright">
        Copyright 2021 © Global Coach Sales LLC. <br>
        Designed & Developed  by Semgeeks Digital agency & consultants.
      </p>
    </div>
  </div>
</footer>
