<header class="header" id="header">
  <div class="container-big ">
      <nav class="nav flex-row">
        <div class="nav-menu">
            <div class="nav-brand">
                <a href="/index.html" >
                  <img src="../../img/logo.svg" class="logo">
                </a>
            </div>
        </div>
        <div class="toggle-collapse">
            <div class="toggle-icons">
                <span class="icon"></span>
            </div>
        </div>
        <div>
            <ul class="nav-items flex-row">
                <li class="nav-items__link">
                    <a href="#">About</a>
                </li>
                <li class="nav-items__link">
                    <a href="#">Inventory</a>
                </li>
                <li class="nav-items__link">
                    <a href="#">Contact</a>
                </li>
                <li class="nav-items__link">
                    <a href="#">News</a>
                </li>
            </ul>
        </div>
        <div class="nav-actions">
          <div class="nav-items__link nav-cart">Cart (0)</div>
          <div class="header-actions__btn">
            <a href="#" class="btn btn-blue ttu header-btn">Call now</a>
          </div>
        </div>
    </nav>
  </div>
</header>
