<header class="header" id="header">
  <div class="container container-big header-wrapper">
    <img src="../../img/logo.svg" class="logo">
    <nav>
      <ul class="nav-header">
        <li class="nav-header__item">
          <a href="#">About</a>
        </li>
        <li class="nav-header__item">
          <a href="#">Inventory</a>
        </li>
        <li class="nav-header__item">
          <a href="#">Contact</a>
        </li>
        <li class="nav-header__item">
          <a href="#">News</a>
        </li>
      </ul>
    </nav>
    <div>Cart (0)</div>
    <div>
      <a href="#" class="btn btn-blue ttu">Call now</a>
    </div>
  </div>
</header>
