<div class="prefooter">
  <div class="container">
    <h3 class="prefooter__headline">Global Coach Sales is here for you</h3>
    <p class="prefooter__text">Looking for a high-end coach with luxury amenities? No problem, we have a coach for you. What about a basic model to get going on the road with no extras? No problem, we have that too.</p>
    <p class="prefooter__text">Our talented sales team is ready to help you find exactly what you are looking for from our diverse and well-rounded inventory selection. We always keep the focus on the customer and look to provide you with a seamless experience so you can get your coach on the road.</p>
    <h5 class="prefooter__subheadline">Find your coach now</h5>
    <div class="prefooter__btn text-center">
      <a href="#" class="btn btn-blue ttu">View inventory</a>
    </div>
  </div>
</div>