{% extends 'layouts/_page-default.twig' %}
{% block content %}
  <main>
    <div class="banner">
      <img src="../img/404.jpg" class="banner-img" alt="">
      <span class="banner-text banner-text_small">Oops, sorry. <br>We can't find what you <br> are looking for <br>
       <a href="/index.html" class="btn btn-white btn-404">Go home</a>
      </span>
    </div>
  </main>
{% endblock %}