{% extends 'layouts/_page-default.twig' %}
{% block content %}
  <main>
    <div class="banner">
      <img src="../img/aboutsub-banner.jpg" class="banner-img" alt="">
      <span class="banner-text">There for you <br> every mile of the way</span>
    </div>
    <div class="container-big">
        <div class="about-sub__experience">
            <h3 class="headline-big">Industry Experience When You Need It</h3>
            <p class="parag">Global Coach Sales was formed by two industry veterans with over 30 years of industry experience.</p>
            <p class="parag">Global Coach Sales has a large fleet of coaches that you can browse with confidence. Looking for something specific? Our friendly representatives can help you find exactly what you are looking for.</p>
        </div>
    </div>
    <div class="container">
        <div class="about-sub__team">
            <div class="item">
                <h6 class="headline headline-big">Brian Lichter</h6>
                <div class="item-contacts">
                    President <br>
                    blichter@globalcoachsales.com <br>
                    (224) 688-6351
                </div>
                <div>
                    Brian Lichter has been selling and financing new and pre-owned motorcoaches for over 30 years. Brian joined Global Coaches sales from Motor Coach Industries where he ran the pre-owned coach division. Brian joined Motor Coach Industries in 1997 as a pre-owned sales representative.
                </div>
            </div>
            <div class="item">
                <h6 class="headline headline-big">Brian Hill</h6>
                <div class="item-contacts">
                    Executive Vice President <br>
                    bhill@globalcoachsales.com <br>
                    (214) 725-0490
                </div>
                <div>
                     Brian Hill was born in the bus business running a charter company with his dad.  When the company sold in 1996, Brian joined Motor Coach Industries and ran the Southern region for pre-owned coaches until joining Global Coach Sales.
                </div>
            </div>
        </div>
    </div>
    <div class="prefooter prefooter-about">
        <div class="container">
            <h3 class="prefooter__headline">Get a quote today</h3>
            <p class="prefooter__text">Our talented sales team is ready to help you find exactly what you are looking for from our diverse and well-rounded inventory selection. We always keep the focus on the customer and look to provide you with a seamless experience so you can get your coach on the road.</p>
            <div class="prefooter__btn text-center">
                <a href="#" class="btn btn-blue ttu">View inventory</a>
            </div>
        </div>
    </div>
  </main>
{% endblock %}