{% extends 'layouts/_page-default.twig' %}
{% block content %}
  <main>
    <div class="banner">
      <img src="../img/about-banner.jpg" class="banner-img" alt="">
    </div>
    <div class="container-big">
        <div class="about">
            <div class="about__text-block">
                <h4 class="about-head ttu">Coach sales with confidence</h4>
                <p class="about-descr">Global Coach Sales has a large fleet of coaches that you can browse with confidence. We stand behind our vehicles and guarantee you will be satisfied with your purchase. Looking for something specific? Our friendly representatives can help you find exactly what you are looking for.</p>
                <a href="#" class="btn btn-blue ttu about-btn">Meet the team</a>
            </div>
            <div class="about__img-block">
                <img src="../img/about.jpg" class="about-img" alt="">
            </div>
        </div>
        <div class="process">
            <div class="process-descr">
                <img src="../img/icons/checkmark.svg" class="process-descr__icon">
                <div class="process-descr__text">A Seamless & Simple <br>
                    Purchasing Process...
                </div>
                <div class="process-descr__numbers">1, 2, 3!</div>
            </div>
            <div class="process-steps">
                <div class="process-steps__item">
                    <div class="number">1</div>
                    <div class="descr">
                        <h6 class="descr-head">Browse our large inventory selection</h6>
                        <p class="descr-text">Global Coach Sales has a large fleet of coaches that you can browse with confidence. We stand behind our vehicles and guarantee you will be satisfied with your purchase. Looking for something specific? Our friendly representatives can help you find exactly what you are looking for.</p>
                    </div>
                </div>
                <div class="process-steps__item">
                    <div class="number">2</div>
                    <div class="descr">
                        <h6 class="descr-head">Explore financing options</h6>
                        <p class="descr-text">Work with one of our helpful consultants on setting up a financing option that works best for you and your company.</p>
                    </div>
                </div>
                <div class="process-steps__item">
                    <div class="number">3</div>
                    <div class="descr">
                        <h6 class="descr-head">Pickup the keys and get on the road!</h6>
                        <p class="descr-text">Ready, set, go! Coordinate when and how your new coach will become yours and get ready to get on the road.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="prefooter prefooter-about">
        <div class="container">
            <h3 class="prefooter__headline">View full inventory</h3>
            <p class="prefooter__text">Our talented sales team is ready to help you find exactly what you are looking for from our diverse and well-rounded inventory selection. We always keep the focus on the customer and look to provide you with a seamless experience so you can get your coach on the road.</p>
            <div class="prefooter__btn text-center">
                <a href="#" class="btn btn-blue ttu">View inventory</a>
            </div>
        </div>
    </div>
  </main>
{% endblock %}