{% extends 'layouts/_page-default.twig' %}
{% block content %}
  <main>
    <div class="blog-item">
        <div class="blog-item__title">
            <div class="date">January 28, 2020</div>
            <div class="name">How to keep your coach in top shape</div>
        </div>
        <div class="blog-item__img">
            <img class="img" src="../img/blog/blog-item.jpg">
        </div>
    </div>

    <div class="container-big">
        <div class="blog-item__body">
            <div class="blog-item__aside">
                <div class="share-block">
                    <div class="name">Share</div>
                    <div class="icons">
                        <a href="#"><img src="../img/icons/blog/facebook.svg" width="10" height="20"></a>
                        <a href="#"><img src="../img/icons/blog/linkedin.svg" width="20" height="18"></a>
                        <a href="#"><img src="../img/icons/blog/twitter.svg" width="20" height="15"></a>
                        <a href="#"><img src="../img/icons/blog/pinterest.svg" width="16" height="20"></a>
                    </div>
                </div>
                <div class="related-block">
                    <div class="name">Related Articles</div>
                    <div class="related-block__item">
                        <img src="../img/blog/blog-item.jpg" class="related-block__item-img" width="320" height="170">
                        <div class="related-block__item-title">
                            <a href="#">5 Steps to Sanitazing your Coach</a>
                        </div>
                        <div class="related-block__item-date">Nov 29, 2020</div>
                    </div>
                    <div class="related-block__item">
                        <img src="../img/blog/blog-item.jpg" class="related-block__item-img" width="320" height="170">
                        <div class="related-block__item-title">
                            <a href="#">Understanding the Maintenance for your Coach</a>
                        </div>
                        <div class="related-block__item-date">Oct 29, 2020</div>
                    </div>
                </div>
            </div>
            <div class="blog-item__content">
                <p class="blog-item__content-parag">
                    Lorem ipsum dolor sit amet, eos oporteat corrumpit at. Agam hendrerit argumentum per in, percipit adipisci pertinax quo ad. Ex erat laudem per, eam quem ludus luptatum ad. Vim causae deleniti quaerendum no, an nec atqui aliquando ullamcorper.
                </p>
                <p class="blog-item__content-parag">
                    At sit eros doctus molestie. Sensibus urbanitas mel ea, vel ex laudem perpetua, dicam molestiae inciderint duo cu. Graecis molestiae eam ad, nonumy aliquip euismod no vis. Ne tota assentior usu.
                </p>
                <p class="blog-item__content-parag">
                    Eam quod nobis abhorreant ne, ei habeo ignota recteque cum, modus sonet facilisi ea mea. Duis dictas eos in, no his malis inani nusquam. Ubique verterem usu ad, nec lorem oblique oporteat at. Ius ut fabulas delectus, ex aperiam quaestio constituam mel, et nemore volutpat vix. Pro doctus voluptatibus an, ex officiis singulis sea, per accusata reprehendunt at. Eos iisque principes constituto eu, vel porro aperiam suavitate cu, no nonumy apeirian mea.
                </p>
                <p class="blog-item__content-parag">
                    Ex usu atqui nulla essent. His ad vero constituto. Te eos erat signiferumque. Nam purto autem splendide ex. Est eros nostrud efficiendi ad.
                </p>
                <p class="blog-item__content-parag">
                    In luptatum similique sit, id duo modus postea quaeque, eos idque dolorem ne. Alii eirmod et cum, ex viris forensibus cotidieque vis, ad audiam verear has. Has id diam pericula, putant conceptam definitionem eu sea. Ei meliore recusabo sea, in mei falli dicunt splendide.
                </p>
                <div class="blog-item__content-arrows">
                    <a class="arrow" href="#">&xlarr;</a>
                    <a class="arrow" href="#">&xrarr;</a>
                </div>
            </div>
        </div>
    </div>


  </main>
{% endblock %}