{% extends 'layouts/_page-default.twig' %}
{% block content %}
  <main>
    <div class="banner">
      <img src="../img/contact-banner.jpg" class="banner-img banner-img_small" alt="">
      <span class="banner-text banner-text_small">Contact us</span>
    </div>
    <div class="container">
        
        <div class="contact-block">
            <div class="contact-block__headline">We love to hear from you</div>
            <div class="contact-block__descr">Whether you're looking for a specific make and model or open to options, our team is ready to answer all of your questions.</div>
            <div class="contact-block__form">
                <form class="form">
                    <div class="form-row">
                            <div class="col name">
                                <input type="text" placeholder="FIRST NAME*">
                            </div>
                            <div class="col">
                                <input type="text" placeholder="LAST NAME*">
                            </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="tel" placeholder="PHONE NUMBER*">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="name" placeholder="ORGANIZATION">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="email" placeholder="EMAIL ADDRESS*">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <textarea type="text" rows="8" cols="50" placeholder="LEAVE A MESSAGE ABOUT WHAT YOU ARE INTERESTED IN...*"></textarea>
                        </div>
                    </div>
                    <div class="row form-bottom">
                        <a href="#" class="btn btn-blue form-bottom__search ttu">Submit</a>
                    </div>
                </form>
            </div>
        </div>
        <div style="overflow:hidden;width: 700px;position: relative;"><iframe width="700" height="440" src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=Nashville%2C%20Madison%20Industrial%20Road%20805%20+(%D0%9D%D0%B0%D0%B7%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5)&amp;ie=UTF8&amp;t=&amp;z=17&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href="https://embedgooglemaps.com/ru/">https://embedgooglemaps.com/ru/</a> & <a href="https://iamsterdamcard.it">iamsterdam card.it</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br />
    </div>
    <div class="container-big">
        <div class="prefooter prefooter-contact">
            <h3 class="prefooter__headline headline headline-big">Global Coach Sales</h3>
            <p class="headline">Looking for a quote on a vehicle? View our inventory listing and request  quote today.</p>
            <div class="prefooter__btn text-center">
                <a href="#" class="btn btn-blue ttu">View inventory</a>
            </div>
        </div>
    </div>
  </main>
{% endblock %}