{% extends 'layouts/_page-default.twig' %}
{% block content %}
  <main>
    <div class="banner_textual">
      <div class="container-big">
        <h2>Privacy policy</h2>
      </div>
    </div>

    <div class="container">
        <div class="content-text">
            <p class="content-text_medium">At Global Coach Sales LLC, accessible at globalcoachsales.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Website Name and how we use it. </p>
            <p class="content-text_medium">If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>
            <p class="content-text_medium">This privacy policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Global Coach Sales LLC. This policy is not applicable to any information collected offline or via channels other than this website.</p>
            <p class="content-text_small">Consent</p>
            <p class="content-text_medium">By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
            <p class="content-text_small">Information we collect</p>
            <p class="content-text_small">The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
            <p class="content-text_medium">If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
            <p class="content-text_medium">When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.</p>
            <p class="content-text_small">How we use your information</p>
            <p class="content-text_small">We use the information we collect in various ways, including to:</p>
            <p class="content-text_small">Provide, operate, and maintain our website</p>
            <p class="content-text_small">Improve, personalize, and expand our website</p>
            <p class="content-text_small">Understand and analyze how you use our website</p>
            <p class="content-text_small">Develop new products, services, features, and functionality</p>
            <p class="content-text_small">Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the webste, and for marketing and promotional purposes</p>
            <p class="content-text_small">Send you emails</p>
            <p class="content-text_medium">Find and prevent fraud</p>
            <p class="content-text_small">Log Files</p>
            <p class="content-text_medium">Global Coach Sales LLC follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>
            <p class="content-text_medium">Cookies and Web Beacons <br>
            Like any other website, Global Coach Sales LLC uses ‘cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>
            <p class="content-text_medium">DoubleClick DART Cookie <br>
            Google is one of a third-party vendor on our site. It also uses cookies, known as DART cookies, to serve ads to our site visitors based upon their visit to www.website.com and other sites on the internet. However, visitors may choose to decline the use of DART cookies by visiting the Google ad and content network Privacy Policy at the following URL – <a href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a>. </p>
            <p class="content-text_small">Some of advertisers on our site may use cookies and web beacons. Our advertising partners are listed below. Each of our advertising partners has their own Privacy Policy for their policies on user data. For easier access, we hyperlinked to their Privacy Policies below.</p>
            <p class="content-text_medium">Google <a href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a></p>
            <p class="content-text_small">Advertising Partners Privacy Policies</p>
            <p class="content-text_big">You may consult this list to find the Privacy Policy for each of the advertising partners of Website Name.</p>
            <p class="content-text_small">Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on Website Name, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>
            <p class="content-text_medium">Note that Website Name has no access to or control over these cookies that are used by third-party advertisers.</p>
            <p class="content-text_small">Third-Party Privacy Policies</p>
            <p class="content-text_medium">Website Name's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. You may find a complete list of these Privacy Policies and their links here: Privacy Policy Links.</p>
            <p class="content-text_medium">You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites. What Are Cookies?</p>
            <p class="content-text_small">CCPA Privacy Policy (Do Not Sell My Personal Information)</p>
            <p class="content-text_small">Under the CCPA, among other rights, California consumers have the right to:</p>
            <p class="content-text_small">Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</p>
            <p class="content-text_small">Request that a business delete any personal data about the consumer that a business has collected.</p>
            <p class="content-text_small">Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</p>
            <p class="content-text_big">If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>
            <p class="content-text_small">GDPR Privacy Policy (Data Protection Rights)</p>
            <p class="content-text_small">We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
            <p class="content-text_small">The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.</p>
            <p class="content-text_small">The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</p>
            <p class="content-text_small">The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</p>
            <p class="content-text_small">The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>
            <p class="content-text_small">The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</p>
            <p class="content-text_small">The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
            <p class="content-text_medium">If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>
            <p class="content-text_small">Children's Information</p>
            <p class="content-text_medium">Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>
            <p class="content-text_small">Global Coach Sales LLC does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>
            <p class="content-text_small">SECURITY OF YOUR INFORMATION</p>
            <p class="content-text_small">If you have questions or comments about this Privacy Policy, please contact us at:</p>
            <p class="content-text_small">Global Coach Sales LLC <br>
            805 Madison Industrial Road <br
            Nashville, TN 37115 <br>
            (615) 527-5333 <br></p>
            <p class="content-text_small">info@globalcoachsales.com</p>
        </div>
    </div>
  </main>
{% endblock %}