{% extends 'layouts/_page-default.twig' %}
{% block content %}
  <main>
    <div class="container-big">
        <div class="product-individual__back">
            <a href="#">&xlarr;  Back</a>
        </div>
    </div>

    <div class="container">
        <div class="product-individual__item">
            <div class="product-individual__slider">Slider</div>
            <div class="product-individual__descr">
                <h4 class="name">2012 TEMSA TS 35</h4>
                <div class="price">$0.00</div>
                <div class="features">
                    <div class="feature">
                        <span>Year:</span> 2012
                    </div>
                    <div class="feature">
                        <span>Make:</span> TEMSA
                    </div>
                    <div class="feature">
                        <span>Model:</span> TS 35
                    </div>
                    <div class="feature">
                        <span>Location:</span> Dallas Bus Paint, Dallas TX
                    </div>
                    <div class="feature">
                        <span>VIN:</span> NLTRPPR70C1000068
                    </div>
                    <div class="feature">
                        <span>Engine:</span> Cummins
                    </div>
                    <div class="feature">
                        <span>Transmission:</span> Allison
                    </div>
                    <div class="feature">
                        <span>Odometer:</span> 299,084
                    </div>
                    <div class="feature">
                        <span>Passangers (seats):</span> 
                    </div>
                    <div class="feature">
                        <span>Lift:</span> No
                    </div>
                    <div class="feature">
                        <span>Seatbelt:</span>
                    </div>
                    <div class="feature">
                        <span>Outlets:</span> 
                    </div>
                    <div class="feature">
                        <span>Parcel Racks:</span>
                    </div>
                    <div class="feature">
                        <span>Shades:</span>
                    </div>
                    <div class="feature">
                        <span>Backup Camera:</span> 
                    </div>
                    <div class="feature">
                        <span>Cordless Mic:</span>
                    </div>
                    <div class="feature">
                        <span>Exterior Color:</span>
                    </div>
                    <div class="feature">
                        <span>Wheel:</span> 
                    </div>
                    <div class="feature">
                        <span>Lav Type:</span>
                    </div>
                    <div class="feature">
                        <span>Restroom:</span>
                    </div>
                </div>
                <div class="action-buttons">
                    <div class="action-buttons_left">
                        <a href="#" class="btn btn-blue btn-blue_outline ttu">Add to cart</a>
                    </div>
                    <div class="action-buttons_right">
                        <a href="#" class="btn btn-blue ttu">Get quote</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-individual__additional">
            <div class="head">Additional Information</div>
            <div class="text">A short write up of the vehicle could go here if you had it, if not, we can remove this area. Competitor sites had an area here for the disclaimer which could go here instead.</div>
        </div>
    </div>

    <div class="container-big">
        Here will be slider
    </div>

    <div class="prefooter prefooter-about">
        <div class="container">
            <h3 class="prefooter__headline">Get a quote today</h3>
            <p class="prefooter__text">Our talented sales team is ready to help you find exactly what you are looking for from our diverse and well-rounded inventory selection. We always keep the focus on the customer and look to provide you with a seamless experience so you can get your coach on the road.</p>
            <div class="prefooter__btn text-center">
                <a href="#" class="btn btn-blue ttu">View inventory</a>
            </div>
        </div>
    </div>
  </main>
{% endblock %}