{% extends 'layouts/_page-default.twig' %}
{% block content %}
  <main>
    <div class="banner">
      <img src="../img/mci-banner.jpg" class="banner-img banner-img_small" alt="">
      <div class="banner-text__block">
        <div class="banner-text__block__pre">
            <a href="#">Inventory<a>
            >
            <a href="#">MCI</a>
        </div>
        <div class="banner-text_small">MCI</div>
        <div class="banner-text__block__post">
            Lorem ipsum dolor sit amet, mei dicunt quaerendum ea, minim causae tamquam usu ne. Ea copiosae consulatu interpretaris nec, et consul nemore utroque sea, electram moderatius ea sed.
        </div>
      </div>
    </div>
    <div class="container">
        <form class="refine-form">
            <h5 class="search-headline search-headline_blue refine-form__headline">Refine search</h5>
            <div class="refine-form__select">
                <div class="refine-form__select__pre">Placeholder search area to refine</div>
                <select >
                    <option value="">Sort by - alphabetical</option>
                    <option value="">Sort by - adding time</option>
                    <option value="">Sort by - rating</option>
                </select>
            </div>
            <div class="text-center refine-form__button">
                <button type="submit" class="btn btn-blue ttu">Search</button>
            </div>
        </form>

        <div class="search-results">
            <div class="search-results__wrapper">
                <div class="search-results__item">
                    <div class="search-results_left">
                        <img src="../img/search-result.jpg" class="search-img">
                        <div class="search-descr">
                            <div class="search-descr__name">2012 Temsa TS 35</div>
                            <div class="search-descr__info">
                                <span>VIN: </span>
                                NLTRPPR70C1000068
                            </div>
                            <div class="search-descr__info">
                                <span>YEAR: </span>
                                2012
                            </div>
                            <div class="search-descr__info">
                                <span>MAKE: </span>
                                TEMSA
                            </div>
                            <div class="search-descr__info">
                                <span>MODEL: </span>
                                TS 35
                            </div>
                            <div class="search-descr__info">
                                <span>ENGINE: </span>
                                CUMMINS
                            </div>
                            <div class="search-descr__info">
                                <span>TRANSMISSION: </span>
                                ALLISON
                            </div>
                        </div>
                    </div>
                    <div class="search-results_right">
                        <div class="search-action">
                            <div class="search-action__price">$ 200,000.00</div>
                            <div class="search-action__tax">*Plus sales tax</div>
                            <div class="search-form__button">
                                <a href="#" class="btn btn-blue ttu">Get quote</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search-results__item">
                    <div class="search-results_left">
                        <img src="../img/search-result.jpg" class="search-img">
                        <div class="search-descr">
                            <div class="search-descr__name">2012 Temsa TS 35</div>
                            <div class="search-descr__info">
                                <span>VIN: </span>
                                NLTRPPR70C1000068
                            </div>
                            <div class="search-descr__info">
                                <span>YEAR: </span>
                                2012
                            </div>
                            <div class="search-descr__info">
                                <span>MAKE: </span>
                                TEMSA
                            </div>
                            <div class="search-descr__info">
                                <span>MODEL: </span>
                                TS 35
                            </div>
                            <div class="search-descr__info">
                                <span>ENGINE: </span>
                                CUMMINS
                            </div>
                            <div class="search-descr__info">
                                <span>TRANSMISSION: </span>
                                ALLISON
                            </div>
                        </div>
                    </div>
                    <div class="search-results_right">
                        <div class="search-action">
                            <div class="search-action__price">$ 200,000.00</div>
                            <div class="search-action__tax">*Plus sales tax</div>
                            <div class="search-form__button">
                                <a href="#" class="btn btn-blue ttu">Get quote</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search-results__item">
                    <div class="search-results_left">
                        <img src="../img/search-result.jpg" class="search-img">
                        <div class="search-descr">
                            <div class="search-descr__name">2012 Temsa TS 35</div>
                            <div class="search-descr__info">
                                <span>VIN: </span>
                                NLTRPPR70C1000068
                            </div>
                            <div class="search-descr__info">
                                <span>YEAR: </span>
                                2012
                            </div>
                            <div class="search-descr__info">
                                <span>MAKE: </span>
                                TEMSA
                            </div>
                            <div class="search-descr__info">
                                <span>MODEL: </span>
                                TS 35
                            </div>
                            <div class="search-descr__info">
                                <span>ENGINE: </span>
                                CUMMINS
                            </div>
                            <div class="search-descr__info">
                                <span>TRANSMISSION: </span>
                                ALLISON
                            </div>
                        </div>
                    </div>
                    <div class="search-results_right">
                        <div class="search-action">
                            <div class="search-action__price">$ 200,000.00</div>
                            <div class="search-action__tax">*Plus sales tax</div>
                            <div class="search-form__button">
                                <a href="#" class="btn btn-blue ttu">Get quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <a href="#" class="arrow">&xlarr;</a>
                <a href="#">1</a>
                <a class="active" href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <div class="sep">...</div>
                <a href="#">6</a>
                <a href="#" class="arrow">&xrarr;</a>
            </div>
        </div>
    </div>

    <div class="container-big">
        <div class="search-footer">
            <div class="search-footer__text">
                <div class="headline headline_big">
                    Why choose a certified pre-owned coach
                </div>
                <div class="search-footer__text__parag">
                    Lorem ipsum dolor sit amet, mei dicunt quaerendum ea, minim causae tamquam usu ne. Ea copiosae consulatu interpretaris nec, et consul nemore utroque sea, electram moderatius ea sed. Usu ocurreret deterruisset an. Eam error tempor delectus ad, ne habemus nominavi eam.
                </div>
                <div class="search-footer__text__parag">
                    Mel ut insolens persecuti inciderint, cum ut eloquentiam disputationi. Has viris veniam philosophia ad, albucius suavitate usu an, sed quem habeo cu. Wisi exerci argumentum ea sea, mei et illum oratio. In vis odio inciderint, quo te summo minim solet, error altera theophrastus his ut.
                </div>
            </div>

        </div>
    </div>
  </main>
{% endblock %}