{% extends 'layouts/_page-default.twig' %}
{% block content %}
  <main>
    <div class="container-big">
        <div class="product-individual__back">
            <a href="#">&xlarr;  Back</a>
        </div>
    </div>

    <div class="prefooter prefooter-about">
        <div class="container">
            <h3 class="prefooter__headline">Get a quote today</h3>
            <p class="prefooter__text">Our talented sales team is ready to help you find exactly what you are looking for from our diverse and well-rounded inventory selection. We always keep the focus on the customer and look to provide you with a seamless experience so you can get your coach on the road.</p>
            <div class="prefooter__btn text-center">
                <a href="#" class="btn btn-blue ttu">View inventory</a>
            </div>
        </div>
    </div>
  </main>
{% endblock %}