{% extends 'layouts/_page-default.twig' %}
{% block content %}
  <main>
    <div class="banner">
      <img src="../img/productmain-banner.jpg" class="banner-img banner-img_small" alt="">
      <div class="banner-text__block">
        <div class="banner-text__block__pre"><a href="#">Inventory<a></div>
        <div class="banner-text_small">Search our pre-owned inventory</div>
        <div class="banner-text__block__post">
            Lorem ipsum dolor sit amet, mei dicunt quaerendum ea, minim causae tamquam usu ne. Ea copiosae consulatu interpretaris nec, et consul nemore utroque sea, electram moderatius ea sed.
        </div>
      </div>
    </div>
    <div class="container">
        <form class="search-form">
            <h5 class="search-headline">Search our pre-owned inventory</h5>
            <div class="search-form__inputs">
                <div class="form-row">
                    <select>
                        <option value="" disabled selected>Search field</option>
                        <option value="">HTML</option>
                        <option value="">CSS</option>
                        <option value="">PHP</option>
                        <option value="">JavaScript</option>
                    </select>
                    <select>
                        <option value="" disabled selected>Search field</option>
                        <option value="">HTML</option>
                        <option value="">CSS</option>
                        <option value="">PHP</option>
                        <option value="">JavaScript</option>
                    </select>
                </div>
                <div class="form-row">
                    <select>
                        <option value="" disabled selected>Search field</option>
                        <option value="">HTML</option>
                        <option value="">CSS</option>
                        <option value="">PHP</option>
                        <option value="">JavaScript</option>
                    </select>
                    <select>
                        <option value="" disabled selected>Search field</option>
                        <option value="">HTML</option>
                        <option value="">CSS</option>
                        <option value="">PHP</option>
                        <option value="">JavaScript</option>
                    </select>
                </div>
                <div class="form-row">
                    <select>
                        <option value="" disabled selected>Search field</option>
                        <option value="">HTML</option>
                        <option value="">CSS</option>
                        <option value="">PHP</option>
                        <option value="">JavaScript</option>
                    </select>
                    <select>
                        <option value="" disabled selected>Search field</option>
                        <option value="">HTML</option>
                        <option value="">CSS</option>
                        <option value="">PHP</option>
                        <option value="">JavaScript</option>
                    </select>
                </div>
            </div>
            <div class="search-form__button text-center">
                <button type="submit" class="btn btn-green ttu">Search</button>
            </div>
        </form>
        <div class="search-results">
            <h5 class="search-headline search-headline_blue">Search results</h5>
            <p class="search-results__subheadline">Filter search results using the specs fields above and click "search" to populate matching results below</p>
            <div class="search-results__wrapper">
                <div class="search-results__item">
                    <div class="search-results_left">
                        <img src="../img/search-result.jpg" class="search-img">
                        <div class="search-descr">
                            <div class="search-descr__name">2012 Temsa TS 35</div>
                            <div class="search-descr__info">
                                <span>VIN: </span>
                                NLTRPPR70C1000068
                            </div>
                            <div class="search-descr__info">
                                <span>YEAR: </span>
                                2012
                            </div>
                            <div class="search-descr__info">
                                <span>MAKE: </span>
                                TEMSA
                            </div>
                            <div class="search-descr__info">
                                <span>MODEL: </span>
                                TS 35
                            </div>
                            <div class="search-descr__info">
                                <span>ENGINE: </span>
                                CUMMINS
                            </div>
                            <div class="search-descr__info">
                                <span>TRANSMISSION: </span>
                                ALLISON
                            </div>
                        </div>
                    </div>
                    <div class="search-results_right">
                        <div class="search-action">
                            <div class="search-action__price">$ 200,000.00</div>
                            <div class="search-action__tax">*Plus sales tax</div>
                            <div class="search-form__button">
                                <a href="#" class="btn btn-blue ttu">Get quote</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search-results__item">
                    <div class="search-results_left">
                        <img src="../img/search-result.jpg" class="search-img">
                        <div class="search-descr">
                            <div class="search-descr__name">2012 Temsa TS 35</div>
                            <div class="search-descr__info">
                                <span>VIN: </span>
                                NLTRPPR70C1000068
                            </div>
                            <div class="search-descr__info">
                                <span>YEAR: </span>
                                2012
                            </div>
                            <div class="search-descr__info">
                                <span>MAKE: </span>
                                TEMSA
                            </div>
                            <div class="search-descr__info">
                                <span>MODEL: </span>
                                TS 35
                            </div>
                            <div class="search-descr__info">
                                <span>ENGINE: </span>
                                CUMMINS
                            </div>
                            <div class="search-descr__info">
                                <span>TRANSMISSION: </span>
                                ALLISON
                            </div>
                        </div>
                    </div>
                    <div class="search-results_right">
                        <div class="search-action">
                            <div class="search-action__price">$ 200,000.00</div>
                            <div class="search-action__tax">*Plus sales tax</div>
                            <div class="search-form__button">
                                <a href="#" class="btn btn-blue ttu">Get quote</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search-results__item">
                    <div class="search-results_left">
                        <img src="../img/search-result.jpg" class="search-img">
                        <div class="search-descr">
                            <div class="search-descr__name">2012 Temsa TS 35</div>
                            <div class="search-descr__info">
                                <span>VIN: </span>
                                NLTRPPR70C1000068
                            </div>
                            <div class="search-descr__info">
                                <span>YEAR: </span>
                                2012
                            </div>
                            <div class="search-descr__info">
                                <span>MAKE: </span>
                                TEMSA
                            </div>
                            <div class="search-descr__info">
                                <span>MODEL: </span>
                                TS 35
                            </div>
                            <div class="search-descr__info">
                                <span>ENGINE: </span>
                                CUMMINS
                            </div>
                            <div class="search-descr__info">
                                <span>TRANSMISSION: </span>
                                ALLISON
                            </div>
                        </div>
                    </div>
                    <div class="search-results_right">
                        <div class="search-action">
                            <div class="search-action__price">$ 200,000.00</div>
                            <div class="search-action__tax">*Plus sales tax</div>
                            <div class="search-form__button">
                                <a href="#" class="btn btn-blue ttu">Get quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <a href="#" class="arrow">&xlarr;</a>
                <a href="#">1</a>
                <a class="active" href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <div class="sep">...</div>
                <a href="#">6</a>
                <a href="#" class="arrow">&xrarr;</a>
            </div>
        </div>
    </div>

    <div class="container-big">
        <div class="search-footer">
            <div class="search-footer__text">
                <div class="headline headline_big">
                    For more information call <a href="tel:6155275333">615.527.5333</a> to speak with a member of our sales team
                </div>
            </div>
        </div>
    </div>
  </main>
{% endblock %}