.btn {
    color: $white;
    font-family: Roboto;
    font-weight: bold;
    border-radius: 16px;
    padding: 10px 35px;
    text-transform: uppercase;
    transition: all .2s ease;
    &:hover {
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    &-blue {
        background-color: $blue;
        &_outline {
            color: $blue;
            background-color: $white;
            border: 1px solid $blue;
        }
    }
    &-green {
        background-color: $green;
    }
}