.header {
    background: #EEEFEF;
    padding: 8px 0;
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
    }
    .logo {
        height: 60px;
        width: 105px;
    }
    .nav-header {
        display: flex;
        color: $blue;
        &__item {
            margin: 0 7px;
        }
    }
    .header-btn {
        font-family: Roboto;
    }
}